# P2. Les vues SQL

## Définition d'une vue SQL  

Une vue n'est rien de plus qu'une instruction SQLite qui est stockée dans la base de données avec un nom associé. Il s'agit en fait d'une composition d'une table sous la forme d'une requête SQLite prédéfinie.

Une vue peut contenir toutes les lignes d'une table ou des lignes sélectionnées d'une ou plusieurs tables. Une vue peut être créée à partir d'une ou plusieurs tables qui dépendent de la requête SQLite écrite pour créer une vue.

## Code utilitaire

In [1]:
import os
import sqlite3
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
# Ouvre connection vers SQLite db
chemin_bdd = Path('db') / 'chinook.db'
conn = sqlite3.connect(chemin_bdd)

In [4]:
# Fonction permettant d'exécuter un requête SQL sur une BDD définie par sa connexion conn
def executer_requete(requete_sql, conn):
    try:
        cursor = conn.cursor()
        cursor.execute(requete_sql)
        conn.commit()
    except sqlite3.Error as e:
        print("Erreur lors de l'execution de la requête")
        print(e)
        return
    cursor.close()

## Example de vue SQL: v_albums

La requête suivante permet d'obtenir une liste (simplifiée) des albums / artistes correspondants:

In [5]:
# Requete sur les tables albums & artists
requete = """
    SELECT AlbumId,
           Title,
           a.Name AS Artist
    FROM albums
    JOIN artists a on albums.ArtistId = a.ArtistId
    ORDER BY Artist;
"""

albums = pd.read_sql_query(requete, conn)
albums.head(5)

,AlbumId,Title,Artist
0,1,For Those About To Rock We Salute You,AC/DC
1,4,Let There Be Rock,AC/DC
2,296,"A Copland Celebration, Vol. I",Aaron Copland & London Symphony Orchestra
3,267,Worlds,Aaron Goldberg
4,280,The World of Classical Favourites,Academy of St. Martin in the Fields & Sir Nevi...

Le code ci-dessous permet de créer une vue correspondant à la requête ci-dessous :    
Référence vue sous SQLite : https://www.sqlite.org/lang_createview.html

In [6]:
# creation vue albums avec artistes
creation_vue_albums = """
    CREATE VIEW v_albums (
        AlbumId,
        Title,
        Artist)
    AS
        SELECT AlbumId,
               Title,
               a.Name AS Artist
        FROM albums
        JOIN artists a on albums.ArtistId = a.ArtistId
        ORDER BY Artist, Title;
"""

executer_requete(creation_vue_albums, conn)

Erreur lors de l'execution de la requête
table v_albums already exists

Une fois la vue créé, on peut la réutiliser dans des requêtes SQL comme une table:

In [7]:
# Utilisation de la vue v_albums
albums = pd.read_sql_query("SELECT * FROM v_albums LIMIT 10;", conn)
albums.head(5)

,AlbumId,Title,Artist,Time,Price
0,1,For Those About To Rock We Salute You,AC/DC,144024900000,9.90
1,2,Balls to the Wall,Accept,20553720000,0.99
2,3,Restless and Wild,Accept,51485280000,2.97
3,4,Let There Be Rock,AC/DC,147195540000,7.92
4,5,Big Ones,Aerosmith,264702540000,14.85

In [8]:
# Utilisation de la vue v_albums avec une clause WHERE
albums = pd.read_sql_query("SELECT * FROM v_albums WHERE Artist = 'U2';", conn)
albums

,AlbumId,Title,Artist,Time,Price
0,232,Achtung Baby,U2,199709340000,11.88
1,233,All That You Can't Leave Behind,U2,177876240000,10.89
2,234,B-Sides 1980-1990,U2,215693100000,14.85
3,235,How To Dismantle An Atomic Bomb,U2,176961060000,10.89
4,236,Pop,U2,216754320000,11.88
5,237,Rattle And Hum,U2,260887560000,16.83
6,238,The Best Of 1980-1990,U2,236154960000,13.86
7,239,War,U2,151794180000,9.90
8,240,Zooropa,U2,181395060000,9.90
9,255,Instant Karma: The Amnesty International Campa...,U2,308093160000,22.77

In [9]:
# Utilisation de la vue v_albums avec une autre jointure
requete = """
    SELECT a.AlbumId,
           a.Title,
           a.Artist,
           count(t.TrackId) as Tracks
    FROM v_albums a
    JOIN tracks t ON a.AlbumId = t.AlbumId
    GROUP BY 1, 2, 3
    ORDER BY 3, 2;
"""
albums = pd.read_sql_query(requete, conn)
albums.head()

,AlbumId,Title,Artist,Tracks
0,1,For Those About To Rock We Salute You,AC/DC,10
1,4,Let There Be Rock,AC/DC,8
2,296,"A Copland Celebration, Vol. I",Aaron Copland & London Symphony Orchestra,1
3,267,Worlds,Aaron Goldberg,1
4,280,The World of Classical Favourites,Academy of St. Martin in the Fields & Sir Nevi...,2

In [10]:
# Effacer une vue
executer_requete("DROP VIEW IF EXISTS v_albums;", conn)

### Question: Avantages & Inconvénients des vues SQL

Quelles sont les avantages et inconvénients des vues SQL ?  

*Avantages :*

- Gain de temps en cas de nombreuses utilisations d'une information
- Simplification de la complexité des requêtes

*Inconvénients :*

- Ralentissement des performances des requêtes
- A actualiser en cas de modification des données dans la BDD existante

---

## Exercices de création / mise en oeuvre de vues

### Vue 1: caractéristiques complètes des Albums  
A partir de l'exemple de vue ci-dessus, créer et exploiter une nouvelle vue v_albums reprenant pour chaque album:  
- AlbumId
- Title
- Artist
- nb de pistes
- Durée totale de l'album (en minutes)
- Prix de l'album

In [11]:
creation_v_albums = """
    CREATE VIEW v_albums (
        AlbumId,
        Title,
        Artist,
        Time,
        Price)
    AS
        SELECT albums.AlbumId,
        albums.Title,
        artists.Name,
        SUM(Milliseconds)*60000,
        SUM(tracks.UnitPrice)
        FROM albums
        JOIN artists ON albums.ArtistId = artists.ArtistId
        JOIN tracks ON albums.AlbumId = tracks.AlbumId
        GROUP BY albums.AlbumId
"""

executer_requete(creation_v_albums, conn)

In [12]:
albums2 = pd.read_sql_query("SELECT * FROM v_albums;", conn)
albums2

,AlbumId,Title,Artist,Time,Price
0,1,For Those About To Rock We Salute You,AC/DC,144024900000,9.90
1,2,Balls to the Wall,Accept,20553720000,0.99
2,3,Restless and Wild,Accept,51485280000,2.97
3,4,Let There Be Rock,AC/DC,147195540000,7.92
4,5,Big Ones,Aerosmith,264702540000,14.85
...,...,...,...,...,...
342,343,Respighi:Pines of Rome,Eugene Ormandy,17204460000,0.99
343,344,Schubert: The Late String Quartets & String Qu...,Emerson String Quartet,8352000000,0.99
344,345,Monteverdi: L'Orfeo,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",3998340000,0.99
345,346,Mozart: Chamber Music,Nash Ensemble,13279860000,0.99
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble,12360300000,0.99

In [13]:
executer_requete("DROP VIEW IF EXISTS v_tracks;", conn)

In [14]:
creation_v_tracks = """
    CREATE VIEW v_tracks (
        TrackId,
        Name,
        Genre,
        Album,
        Artist,
        Composer,
        Time,
        MediaType
        )
    AS
        SELECT tracks.TrackId,
        tracks.Name,
        genres.Name,
        albums.Title,
        artists.Name,
        tracks.Composer,
        (tracks.Milliseconds)*1000,
        media_types.Name
        FROM tracks
        JOIN albums ON tracks.AlbumId = albums.AlbumId
        JOIN artists ON albums.ArtistId = artists.ArtistId
        JOIN genres ON tracks.GenreId = genres.GenreId
        JOIN media_types ON tracks.MediaTypeId = media_types.MediaTypeId
        """

executer_requete(creation_v_tracks, conn)

In [15]:
tracks = pd.read_sql_query("SELECT * FROM v_tracks;", conn)
tracks

,TrackId,Name,Genre,Album,Artist,Composer,Time,MediaType
0,1,For Those About To Rock (We Salute You),Rock,For Those About To Rock We Salute You,AC/DC,"Angus Young, Malcolm Young, Brian Johnson",343719000,MPEG audio file
1,6,Put The Finger On You,Rock,For Those About To Rock We Salute You,AC/DC,"Angus Young, Malcolm Young, Brian Johnson",205662000,MPEG audio file
2,7,Let's Get It Up,Rock,For Those About To Rock We Salute You,AC/DC,"Angus Young, Malcolm Young, Brian Johnson",233926000,MPEG audio file
3,8,Inject The Venom,Rock,For Those About To Rock We Salute You,AC/DC,"Angus Young, Malcolm Young, Brian Johnson",210834000,MPEG audio file
4,9,Snowballed,Rock,For Those About To Rock We Salute You,AC/DC,"Angus Young, Malcolm Young, Brian Johnson",203102000,MPEG audio file
...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Classical,Respighi:Pines of Rome,Eugene Ormandy,None,286741000,Protected AAC audio file
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Classical,Schubert: The Late String Quartets & String Qu...,Emerson String Quartet,Franz Schubert,139200000,Protected AAC audio file
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",Classical,Monteverdi: L'Orfeo,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",Claudio Monteverdi,66639000,Protected AAC audio file
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Classical,Mozart: Chamber Music,Nash Ensemble,Wolfgang Amadeus Mozart,221331000,Protected AAC audio file
3502,3503,Koyaanisqatsi,Soundtrack,Koyaanisqatsi (Soundtrack from the Motion Pict...,Philip Glass Ensemble,Philip Glass,206005000,Protected AAC audio file

### Vue 3: Vue augmentée invoices
A. Créer une nouvelle vue v_invoices à partir de la table invoices ajoutant 3 nouveaux attributs basés sur l'attribut `InvoiceDate`:  
- semaine de la transaction
- mois de la transaction
- année de la transaction

In [35]:
executer_requete("DROP VIEW IF EXISTS v_invoices;", conn)

In [36]:
creation_v_invoices = """
    CREATE VIEW v_invoices (
        InvoiceId,
        CustomerId,
        InvoiceWeek,
        InvoiceMonth,
        InvoiceYear,
        BillingAddress,
        BillingCity,
        BillingState,
        BillingCountry,
        BillingPostalCode,
        Total)
    AS
        SELECT InvoiceId,
            CustomerId,
            STRFTIME("%W", InvoiceDate),
            STRFTIME("%M", InvoiceDate),
            STRFTIME("%Y", InvoiceDate),
            BillingAddress,
            BillingCity,
            BillingState,
            BillingCountry,
            BillingPostalCode,
            Total
        FROM invoices
    """

executer_requete(creation_v_invoices, conn)

In [39]:
v_invoices = pd.read_sql_query("SELECT * FROM v_invoices;", conn)
v_invoices

,InvoiceId,CustomerId,InvoiceWeek,InvoiceMonth,InvoiceYear,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,00,00,2009,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,00,00,2009,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,00,00,2009,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,01,00,2009,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,01,00,2009,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...,...,...
407,408,25,48,00,2013,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,48,00,2013,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,49,00,2013,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
410,411,44,49,00,2013,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
411,412,58,50,00,2013,"12,Community Centre",Delhi,None,India,110017,1.99

B. Exploiter la vue v_invoices ainsi crée pour déterminer les ventes annuelles par pays.

In [65]:
query3B = """
    SELECT DISTINCT BillingCountry AS "Pays", nine.Ventes AS "Ventes 2009", ten.Ventes AS "Ventes 2010", eleven.Ventes AS "Ventes 2011", twelve.Ventes AS "Ventes 2012", thirteen.Ventes AS "Vente 2013"
    FROM v_invoices
    
    LEFT JOIN
    (SELECT BillingCountry AS "Pays", SUM(Total) AS "Ventes"
    FROM v_invoices
    WHERE InvoiceYear = "2009"
    GROUP BY BillingCountry) AS nine
    ON v_invoices.BillingCountry = nine.Pays
    
    LEFT JOIN 
    (SELECT BillingCountry AS "Pays", SUM(Total) AS "Ventes"
    FROM v_invoices 
    WHERE InvoiceYear = "2010"
    GROUP BY BillingCountry) AS ten
    ON v_invoices.BillingCountry = ten.Pays
    
    LEFT JOIN
    (SELECT BillingCountry AS "Pays", SUM(Total) AS "Ventes"
    FROM v_invoices 
    WHERE InvoiceYear = "2011"
    GROUP BY BillingCountry) AS eleven
    ON v_invoices.BillingCountry = eleven.Pays
    
    LEFT JOIN
    (SELECT BillingCountry AS "Pays", SUM(Total) AS "Ventes"
    FROM v_invoices 
    WHERE InvoiceYear = "2012"
    GROUP BY BillingCountry) AS twelve
    ON v_invoices.BillingCountry = twelve.Pays
    
    LEFT JOIN
    (SELECT BillingCountry AS "Pays", SUM(Total) AS "Ventes"
    FROM v_invoices 
    WHERE InvoiceYear = "2013"
    GROUP BY BillingCountry) AS thirteen
    ON v_invoices.BillingCountry = thirteen.Pays
    
    ORDER BY "Pays"
"""

In [66]:
results = pd.read_sql_query(query3B, conn)
results

,Pays,Ventes 2009,Ventes 2010,Ventes 2011,Ventes 2012,Vente 2013
0,Argentina,NaN,11.88,0.99,NaN,24.75
1,Australia,11.88,0.99,1.98,22.77,NaN
2,Austria,1.98,27.77,NaN,11.88,0.99
3,Belgium,6.93,NaN,24.75,NaN,5.94
4,Brazil,37.62,41.60,19.80,53.46,37.62
5,Canada,57.42,76.26,55.44,42.57,72.27
6,Chile,15.84,17.91,5.94,6.93,NaN
7,Czech Republic,10.89,9.90,12.87,19.83,36.75
8,Denmark,5.94,6.93,NaN,15.84,8.91
9,Finland,8.91,NaN,15.88,0.99,15.84
10,France,35.64,39.60,42.61,36.66,40.59
11,Germany,53.46,25.74,48.57,18.81,9.90
12,Hungary,NaN,32.75,NaN,11.88,0.99
13,India,9.90,17.83,24.75,10.89,11.89
14,Ireland,6.93,NaN,32.75,NaN,5.94
15,Italy,1.98,10.89,NaN,15.84,8.91
16,Netherlands,8.91,1.98,12.90,0.99,15.84
17,Norway,10.89,NaN,17.84,8.91,1.98
18,Poland,15.84,8.91,NaN,11.88,0.99
19,Portugal,11.88,6.93,8.91,24.77,24.75
20,Spain,0.99,1.98,22.77,NaN,11.88
21,Sweden,5.94,7.93,NaN,24.75,NaN
22,USA,103.95,102.98,103.01,127.98,85.14
23,United Kingdom,25.74,30.69,17.82,9.90,28.71

### Vue 4: A vous de jouer
Créer et exploiter une nouvelle vue de votre choix

La vue suivante concerne la liste des clients pour laquelle nous avons également également ajouté l'employé référent. Cette vue nous permettra ensuite de connaître le nom de clients par employés sans avoir besoin de réaliser de jointures.

In [63]:
creation_v_customers = """
CREATE VIEW v_customers (
        CustomerId,
        Customer,
        Company,
        Address,
        City,
        State,
        Country,
        PostalCode,
        Phone,
        Fax,
        Email,
        EmployeeId,
        Employee)
    AS
		SELECT CustomerId,
			customers.firstname || ' ' || customers.lastname,
			customers.Company,
			customers.Address,
			customers.City,
			customers.State,
			customers.Country,
			customers.PostalCode,
			customers.Phone,
			customers.Fax,
			customers.Email,
            EmployeeId,
			employees.firstname || ' ' || employees.lastname
		FROM customers
		LEFT JOIN employees ON customers.SupportRepId = employees.EmployeeId
"""

executer_requete(creation_v_customers, conn)

In [64]:
v_customers = pd.read_sql_query("SELECT * FROM v_customers;", conn)
v_customers

,CustomerId,Customer,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,EmployeeId,Employee
0,1,Luís Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,Jane Peacock
1,2,Leonie Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5,Steve Johnson
2,3,François Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3,Jane Peacock
3,4,Bjørn Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4,Margaret Park
4,5,František Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4,Margaret Park
5,6,Helena Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5,Steve Johnson
6,7,Astrid Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5,Steve Johnson
7,8,Daan Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4,Margaret Park
8,9,Kara Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4,Margaret Park
9,10,Eduardo Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4,Margaret Park
10,11,Alexandre Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5,Steve Johnson
11,12,Roberto Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3,Jane Peacock
12,13,Fernanda Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4,Margaret Park
13,14,Mark Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5,Steve Johnson
14,15,Jennifer Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3,Jane Peacock
15,16,Frank Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4,Margaret Park
16,17,Jack Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5,Steve Johnson
17,18,Michelle Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3,Jane Peacock
18,19,Tim Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3,Jane Peacock
19,20,Dan Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4,Margaret Park
20,21,Kathy Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5,Steve Johnson
21,22,Heather Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4,Margaret Park
22,23,John Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4,Margaret Park
23,24,Frank Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3,Jane Peacock
24,25,Victor Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5,Steve Johnson
25,26,Richard Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4,Margaret Park
26,27,Patrick Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4,Margaret Park
27,28,Julia Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5,Steve Johnson
28,29,Robert Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3,Jane Peacock
29,30,Edward Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3,Jane Peacock
30,31,Martha Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5,Steve Johnson
31,32,Aaron Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4,Margaret Park
32,33,Ellie Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3,Jane Peacock
33,34,João Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4,Margaret Park
34,35,Madalena Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4,Margaret Park
35,36,Hannah Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5,Steve Johnson
36,37,Fynn Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3,Jane Peacock
37,38,Niklas Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3,Jane Peacock
38,39,Camille Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4,Margaret Park
39,40,Dominique Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4,Margaret Park
40,41,Marc Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5,Steve Johnson
41,42,Wyatt Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3,Jane Peacock
42,43,Isabelle Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3,Jane Peacock
43,44,Terhi Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3,Jane Peacock
44,45,Ladislav Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3,Jane Peacock
45,46,Hugh O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3,Jane Peacock
46,47,Lucas Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5,Steve Johnson
47,48,Johannes Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5,Steve Johnson
48,49,Stanisław Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4,Margaret Park
49,50,Enrique Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5,Steve Johnson
50,51,Joakim Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5,Steve Johnson
51,52,Emma Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3,Jane Peacock
52,53,Phil Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3,Jane Peacock
53,54,Steve Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5,Steve Johnson
54,55,Mark Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4,Margaret Park
55,56,Diego Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4,Margaret Park
56,57,Luis Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5,Steve Johnson
57,58,Manoj Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3,Jane Peacock
58,59,Puja Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,Jane Peacock

In [ ]:
query4 = """
SELECT Employee, count(*) As "Nb clients"
FROM v_customers
GROUP BY EmployeeId"